<!DOCTYPE html>

<html>
    <head>
		#{if currentUser}
        <title>Page de ${currentUser.fullname}</title>
        #{/if}
		<meta charset="${_response_encoding}">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/bootstrap.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/carroussel.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        #{get 'moreStyles' /}
        <script src="@{'/public/javascripts/jquery-1.11.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script>
            !function ($) {
                $(function(){
                    // carousel demo
                    $('#myCarousel').carousel()
                })
            }(window.jQuery)
        </script>
        
    </head>
    <div id="header">
        <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <img src="@{'/public/images/delph2alpha.png'}" alt="">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><br> <a class="btn-lg" href="@{Application.index()}">Accueil <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown"><br>
                        <a class="btn-lg" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nos Recettes <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@{Entree.index()}">Entrée</a></li>
                                <li><a href="@{Plat.index()}">Plat</a></li>
                                <li><a href="@{Dessert.index()}">Dessert</a></li>
                            </ul>
                    </li>

                    <li><br><a class="btn-lg" href="@{About.index()}">Mes recettes</a></li>
                    <li><br><a class="btn-lg" href="@{About.index()}">A propos</a></li>

                </ul>
    
      
                <ul class="nav navbar-nav navbar-right">
                    <li><br>

                        <!--<form action="@{Search.index(name)}" method="post" class="navbar-form navbar-left" role="search">-->
                            #{form @Application.searchRecipe(content)}
                            <div class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input name="name" type="text" class="form-control" placeholder="Recette, Catégorie">
                                </div>
                                <input type="submit" class="btn btn-default" value="Rechercher" />
                            </div>
                            #{/form}
                        
                    </li>
					<li><br><a>Bonjour ${currentUser.fullname}!</a></li>
                    <li><br><a href="@{Secure.logout()}">Se déconnecter</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
    </div>


    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="@{'/public/images/slide-01.jpg'}" alt="">
          <!--<div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>-->
        </div>
        <div class="item">
          <img src="@{'/public/images/slide-02.jpg'}" alt="">
        </div>
        <div class="item">
          <img src=".@{'/public/images/slide-03.jpg'}" alt="">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
    </div>

    
    <body>
        #{doLayout /}
    </body>
</html>
