#{extends 'main.html' /}
#{set title:'Home' /}

<div class="panel panel-warning col-lg-offset-2 col-lg-8">
  <div class="panel-heading">
    <h3 class="panel-title"><center>Inscription</center></h3>
  </div>
  <div class="panel-body">
      
#{form @Application.subscribe()}
      <br>
   		<div class="input-group input-group-lg">
  			<span class="input-group-addon" id="sizing-addon2">Login</span>
  			<input type="text" class="form-control" placeholder="login" name="login" aria-describedby="sizing-addon2">
		</div>
		<br>
		<div class="input-group input-group-lg">
  			<span class="input-group-addon" id="sizing-addon2">Mot de passe</span>
  			<input type="password" class="form-control" placeholder="password" name="pwd" aria-describedby="sizing-addon2">
		</div>
		<br>
		<div class="input-group input-group-lg">
  			<span class="input-group-addon" id="sizing-addon2">Confirmation du mot de passe</span>
  			<input type="password" class="form-control" placeholder="password2" name="pwd2" aria-describedby="sizing-addon2">
		</div>
		<br>
		<div class="input-group input-group-lg">
  			<span class="input-group-addon" id="sizing-addon2">Email</span>
  			<input type="text" class="form-control" placeholder="email" name="email" aria-describedby="sizing-addon2">
		</div>
		<br>	
    <center><input type="submit" value="S'inscrire" /></center>
#{/form}
  </div>
</div>