#{extends 'main.html' /}
#{set title:'Home' /}
 
#{if frontRecette}

    <div class="container col-lg-12" name="recipes" id="recipes" background="@{'/public/images/delphlogo.png'}">
    <div class="row">
    <div class="panel panel-warning col-lg-2">
            <div class="panel-heading col-lg-12">
                Recette aléatoire
            </div>
            <div class="panel-body">
                <h3 class="recette-title">
                    <a class="calig" href="@{Details.index(frontRecette.id)}">${frontRecette.title}</a>
                </h3>
            </div>
    </div>

#{/if}

    #{if olderRecettes}
    <div class="container col-lg-12" name="recipes" id="recipes" background="@{'/public/images/delphlogo.png'}">
    <div class="row">
        <div class="panel panel-warning col-lg-offset-2 col-lg-8">
            <div class="panel-heading col-lg-12">
                <h3 class="panel-title calig"><center>Nos plats</center></h3>
            </div>
            <div class="panel-body">
                <br/>
                #{list items:olderRecettes, as:'oldRecette'}
                
                    <div class="recette">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 type="button" class="panel-title calig-title" data-toggle="collapse" data-target=#${oldRecette.title}>${oldRecette.title}</h3> par ${oldRecette.author.fullname}
                            </div>
                            <div class="panel-body collapse out" id=${oldRecette.title}>
                                <ul>                                
                                    <li>Difficulte : 
                                        #{if oldRecette.difficulte == 1}
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                        #{/if}
                                        #{elseif oldRecette.difficulte == 2}
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                        #{/elseif}
                                        #{elseif oldRecette.difficulte == 3}
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                        #{/elseif}
                                        #{else}
                                        #{/else}
                                    </li>
                                    <li>Prix : ${oldRecette.prix} </li>
                                    <li>Temps de préparation : ${oldRecette.preparation} min</li>
                                    <li>Temps de cuisson : ${oldRecette.cuisson} min</li>
                                    <li><a href="@{Details.index(oldRecette.id)}">Voir la recette plus en details</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                #{/list}
                
            </div>
        </div>
    #{/if}
    </div>
</div>

 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}