#{extends 'admin.html' /}



    <div class="container">
        <div class="row">
        <div class="panel panel-warning col-lg-offset-2 col-lg-8">
            <div class="panel-heading col-lg-12">
                <h3 class="panel-title calig"><center>Vos recettes</center></h3>
            </div>
            <div class="panel-body">
                #{if olderRecettes}
                <br/>
                #{list items:olderRecettes, as:'oldRecette'}
                
                    <div class="recette">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 type="button" class="panel-title calig-title" data-toggle="collapse" data-target=#${oldRecette.title}>${oldRecette.title}</h3> par ${oldRecette.author.fullname}
                            </div>
                            <div class="panel-body collapse out" id=${oldRecette.title}>
                                <ul>                                
                                    <li>Difficulte : 
                                        #{if oldRecette.difficulte == 1}
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                        #{/if}
                                        #{elseif oldRecette.difficulte == 2}
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                        #{/elseif}
                                        #{elseif oldRecette.difficulte == 3}
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                                        #{/elseif}
                                        #{else}
                                        #{/else}
                                    </li>
                                    <li>Prix : ${oldRecette.prix} </li>
                                    <li>Temps de préparation : ${oldRecette.preparation} min</li>
                                    <li>Temps de cuisson : ${oldRecette.cuisson} min</li>
                                    <li><a href="@{DetailsAdmin.index(oldRecette.id)}">Voir la recette plus en details</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                #{/list}
            #{/if}

                <button type="button" align="right" class="btn btn-default" data-toggle="collapse" data-target="#newRecipe">Poster une nouvelle recette</button>


                <div class="collapse out" name="newRecipe" id="newRecipe">
                    <h3>Votre nouvelle recette</h3>
                    #{form @Admin.postRecipe(user.email)}
                    <p>
                        <label for="title">Votre titre de recette: </label>
                        <input type="text" name="title" id="title" />
                    </p>
                     <p>
                        <label for="listIng">Votre liste d'ingrédients: </label>
                        <input type="text" name="listIng" id="listIng" />
                    </p>
                    <p>
                        <label for="content">Votre recette: </label>
                        <textarea name="content" id="content"></textarea>
                    </p>
                     <p>
                        <label for="categorie">Votre catégorie: </label>
                         <select name="difficulte" id="difficulte" size="1">
                            <option>Entree
                            <option>Plat
                            <option>Dessert
                        </select>
                    </p>
                     <p>
                        <label for="difficulte">Votre difficulté: </label>
                        <select type="number" name="difficulte" id="difficulte" size="1">
                            <option>1
                            <option>2
                            <option>3
                        </select>
                    </p>
                     <p>
                        <label for="prix">Votre prix: </label>
                        <input type="text" name="prix" id="prix" />
                    </p>
                     <p>
                        <label for="preparation">Votre temps de préparation: </label>
                        <input type="number" name="preparation" id="preparation" />
                    </p>
                     <p>
                        <label for="cuisson">Votre temps de cuisson: </label>
                        <input type="number" name="cuisson" id="cuisson" />
                    </p>
                    <p>
                        <input type="submit" value="Envoyer" />
                    </p>
                    #{/form}
                </div>
                
            </div>

        </div>
    </div>
    </div>
    </div>
